block mix
    //mixin tables(textH, tableText, tableText2, dark)
    //    if (dark)
    //        .table__cell.table__cell_theme_dark
    //            h3.table__heading.table__heading_theme_dark=textH
    //            p.table__text.table__text_theme_dark=tableText
    //    else if (tableText2)
    //        .table__cell
    //            h3.table__heading=textH
    //            p.table__text=tableText
    //            p.table__text=tableText2
    //    else
    //        .table__cell
    //            h3.table__heading=textH
    //            p.table__text=tableText
    //
    mixin tables(textH, tableText, tableText2)
        if (tableText2)
            .table__cell
                h3.table__heading=textH
                p.table__text=tableText
                p.table__text=tableText2
        else
            .table__cell
                h3.table__heading=textH
                p.table__text=tableText
    mixin tablesDark(textH, tableText)
        .table__cell.table__cell_theme_dark
            h3.table__heading.table__heading_theme_dark=textH
            p.table__text.table__text_theme_dark=tableText


    mixin sectiontitle(text, text2, dark)
        if (dark == "dark")
            h2.section-title.section-title_theme_dark=text
            p.section-subtitle.section-subtitle_theme_dark=text2
        else
            h2.section-title=text
            p.section-subtitle=text2

